.topbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 15px;
	background-color: white;
	border: 1px solid #ccc;
}

.logo{
	width: 120px;
}

.topbar button{
	padding: 10px 15px;
	background-color: var(--primary-color);
	color: white;
	border: none;
	border-radius: 5px;
	font-weight: 500;
	font-size: 0.85rem;
	cursor: pointer;
}

.container{
	height: auto;
	width: 100%;
	padding: 30px 20px;
	max-width: 550px;
	margin: 0px auto;
}

.container h1{
	font-weight: 600;
	font-size: 1.6rem;
	color: var(--primary-color);
	text-align: center;
}

.login-form-box h6,.forgot-form-box h6{
	font-weight: 500;
	color: grey;
	text-align: center;
	margin-bottom: 20px;
	font-size: 0.8rem;
}

.field-box{
	margin-top: 15px;
}

.field-box p{
	font-weight: 500;
	font-size: 1rem;
	margin-bottom: 5px;
	margin-left: 10px;
	color: #404040;
}

.field-box input{
	width: 100%;
	height: 45px;
	border: 1px solid #ccc;
	padding: 0px 10px;
	font-weight: 500;
	font-size: 0.95rem;
	outline-color: var(--primary-color);
	border-radius: 5px;
}

.forgot-link{
	text-align: center;
	font-weight: 500;
	margin-top: 20px;
	font-size: 0.9rem;
}

.forgot-link span{
	color: var(--primary-color);
	cursor: pointer;
}

.login-btn,.input-row button{
	margin-top: 30px;
	width: 100%;
	padding: 15px 20px;
	background-color: var(--primary-color);
	color: white;
	font-weight: 600;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.forgot-form-box,.second-step,.third-step{
	display: none;
}



@media(min-width: 576px)
{
	html{
		font-size: 15px;
	}
}

@media(min-width: 768px)
{
	.topbar button{
		font-size: 1rem;
	}
}