html{
    scroll-behavior: smooth;
}

body{
    background-color: #FBF8FA;
}

.topbar{
    height: 80px;
    width: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.8);
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px #ddd;
    align-items: center;
    padding: 0px 20px;
    z-index: 111;
}

.logo-box{
    width: 160px;
}

.logo-box img{
    width: 100%;
}

.quick-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quick-box button{
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.login{
    margin-right: 10px;
}

.primary-btn{
    background-color: var(--primary-color);
    color: white;
}

.secondry-btn{
    background-color: #FF6B00;
    color: white;
}

.links-box nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-box nav ul li{
    margin: 0px 25px;
}

.links-box nav ul li a{
    display: flex;
    padding: 5px 0px;
    text-decoration: none;
    color: #404040;
    font-weight: 500;
    font-size: 1.1rem;
}

.links-box nav ul li:after{
    content: "";
    display: block;
    height: 3px;
    background-color: var(--primary-color);
    width: 0%;
}

.links-box nav ul li:hover:after{
    width: 100%;
    transition: 0.4s;
}

.links-box nav ul li:hover a{
    color: var(--primary-color);
    transition: 0.4s;
}

header{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.left-header,.right-header{
    width: 50%;
    padding: 40px 20px;
}

.right-header{
    padding-left: 50px;
}

.header-btn-box{
    display: flex;
    justify-content: space-between;
}

.header-btn-box button{
    padding: 20px;
    width: 49%;
    font-size: 1.1rem;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.header-btn-box button:hover,.quick-box button:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
}

.left-header h1{
    font-weight: 700;
    font-size: 3.3rem;
    font-family: var(--heading-font);
    color: #323232;
    margin-bottom: 50px;
}

.left-header h1 span{
    color: var(--primary-color);
    border-bottom: 10px solid rgba(69, 0, 183, 0.1);
}

#header-desc{
    font-size: 1.3rem;
    color: #404040;
    font-weight: 500;
    margin-bottom: 50px;
}

.statics-box{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.stats{
    background-color: white;
    width: 32%;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px 10px;
}

.stats h3{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 2rem;
}

.stats p{
    color: #323232;
    font-weight: 500;
    margin-top: 5px;
}

.inner-header{
    height: 100%;
    width: 100%;
    background-image: url("../images/header-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 20px;
}

section{
    background-color: white;
}

.first-section{
    padding: 50px 20px;
    max-width: 1400px;
    margin: 0 auto;
}

.first-section-heading,.second-section-heading{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: var(--heading-font);
}

.first-section-desc,.second-section-desc{
    text-align: center;
    font-weight: 500;
    color: grey;
    margin-top: 5px;
}

.first-section-heading span,.second-section-heading span{
    color: var(--primary-color);
}

.features{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature{
    width: calc(33.33% - 1rem);
    margin-bottom: 2rem;
    background-color: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    padding: 30px;
    border-radius: 20px;
}

.feature:hover,.step:hover{
    transform: scale(1.08);
    box-shadow: 0px 0px 50px #ddd;
    transition: 0.5s;
}

.feature .feature-icon{
    height: 60px;
    width: 60px;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 1.6rem;
}

.feature h3{
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.feature p{
    color: #404040;
    font-weight: 500;
}

.feature ul{
    list-style: none;
    margin-top: 20px;
}

.feature ul li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 12px;
}

.feature ul li i{
    color: var(--primary-color);
    margin-right: 10px;
    font-size: 1.3rem;
}

.second-section{
    background-color: #FBF8FA;
}

.inner-second-section,.inner-third-section,.inner-fourth-section{
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px 20px;
}

.process-box{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.left-process,.right-process{
    width: 48%;
}

.left-process iframe{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid white;
}

.step{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);    
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.left-step{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.left-left-step h6{
    font-size: 2.6rem;
    color: #ccc;
}

.left-right-step{
    padding: 0px 30px;
}

.left-right-step h3{
    font-weight: 600;
    font-size: 1.5rem;
    color: #404040;
}

.left-right-step p{
    color: grey;
    margin-top: 5px;
    font-size: 1.1rem;
}

.right-step i{
    height: 60px;
    width: 60px;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.6rem;
}

.third-section{
    background-color: white;
}

.inner-third-section h2{
    font-size: 2rem;
    font-weight: 700;
    font-family: var(--heading-font);
    color: rgba(69, 0, 183, 0.6);
    margin-bottom: 15px;
}

.inner-third-section p{
    font-size: 1.15rem;
    color: #404040;
    line-height: 28px;
}

.fourth-section{
    background-color: #FBF8FA;
}

.contact-box{
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 20px;
}

.contact{
    width: 32%;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 0px 10px;
}

.contact i{
    background-color: var(--primary-color);
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact h2{
    color: var(--primary-color);
    font-weight: 600;
    margin-top: 10px;
}

.contact p{
    font-weight: 500;
    color: #404040;
    margin-top: 8px;
    font-size: 1.2rem;
}

footer{
    padding: 20px;
    background-color: #1A063B;
    color: white;
    text-align: center;
}

#menu-btn{
    font-size: 1.9rem;
    margin-left: 15px;
    cursor: pointer;
    display: none;
}

.links-box nav img{
    width: 70%;
    margin-left: 15%;
    margin-bottom: 10px;
    display: none;
}

.stats:hover{
    border-radius: 50px;
    transition: 0.4s;
}

.contact:hover{
    width: 60%;
    transition: 0.5s;
}

@media(max-width: 992px)
{
    .feature{
        width: 49%;
    }

    .links-box{
        position: fixed;
        top: 0;
        left: -300px;
        background-color: white;
        box-shadow: 0px 0px 10px #ddd;
        height: 100vh;
        width: 250px;
        overflow-y: auto;
        padding: 30px 20px;
    }

    .links-box nav img{
        display: block;
    }

    .links-box nav ul{
        flex-direction: column;
    }

    .links-box nav ul li{
        margin: 12px 0px;
    }

    #menu-btn{
        display: block;
    }

    header{
        flex-direction: column;
    }

    .left-header,.right-header{
        width: 100%;
        text-align: center;
    }

    .right-header{
        height: 400px;
        padding: 20px;
    }

    .process-box{
        flex-direction: column;
    }

    .left-process,.right-process{
        width: 100%;
    }

    .left-process iframe{
        height: 360px;
        margin-bottom: 20px;
    }
}

@media(max-width: 800px)
{
    .contact-box{
        flex-direction: column;
    }

    .contact{
        width: 100%;
        margin: 10px 0px;
    }

    .contact:hover{
        width: 100%;
        transform: scale(1.1);
        transition: 0.5s;
    }
}

@media(max-width: 576px)
{
    .step h6{
        font-size: 1.7rem;
    }

    .step h3{
        font-size: 1.2rem;
    }

    .step p{
        font-size: 0.9rem;
    }

    .right-step i{
        height: 50px;
        width: 50px;
        font-size: 1.4rem;
    }

    .feature{
        width: 100%;
    }

    .left-header h1{
        font-size: 2.5rem;
        margin-bottom: 30px;
    }

    #header-desc{
        font-size: 1.1rem;
        margin-bottom: 30px;
    }

    .header-btn-box{
        flex-direction: column;
    }

    .header-btn-box button{
        width: 100%;
    }

    .header-register{
        margin-bottom: 15px;
    }

    .statics-box{
        flex-direction: column;
    }

    .stats{
        width: 100%;
        margin-bottom: 10px;
    }

    .left-right-step{
        padding: 0px 15px;
    }

    .first-section-heading,.second-section-heading{
        font-size: 2rem;
    }

    .contact h2{
        font-size: 1.2rem;
    }

    .contact p{
        font-size: 1rem;
    }
}

@media(max-width: 500px)
{
    .logo-box{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .logo-box img{
        width: 120px;
    }

    .topbar button{
        padding: 10px 15px;
        font-size: 0.9rem;
    }
}

@media(max-width: 400px)
{
    .topbar{
        padding: 10px;
    }
}